<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
        <add key="token" value="NzE4MDcyNzYwMDAxMTAxODc0.XtjjXw.Ug3HOLlFMb3E78W0-ZFNT3-ZLEA" />
        <add key="role" value="Буйный" />
        <add key="commandsPrefix" value="+" />
        <add key="allowedMessages"
             value="1k1 1n1 1x1 1v1 2ca 2v2 ca 3v3ctf CTF CTFS FFA FTAG HCA NTF TDM absmidair amphi cup ntf2" />
        <add key="allowedChannel" value="pickups" />
    </appSettings>
</configuration>